@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

/* :root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #111827;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

@font-face {
  font-family: "NIKEA";
  src: url("./assets/fonts/NIKEA.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
}

@font-face {
  font-family: "Pinyon";
  src: url("./assets/fonts/PinyonScript-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 700;
  font-display: swap;
}

@font-face {
  font-family: "VinaSans";
  src: url("./assets/fonts/VinaSans-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 100 800;
  font-display: swap;
}

@theme {
  --font-nikea: "NIKEA", system-ui, sans-serif;
  --font-pinyon: "Pinyon", serif;
  --font-vina-sans: "VinaSans", system-ui, sans-serif;
}
